.hero {
    height: 240px;
    background-image: url('../../assets/bg-main-mobile.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__verso {
        position: relative;
        margin: 32px 0 0 64px;
        height: 150px;
        -webkit-box-shadow: 1px 7px 27px 3px rgba(0,0,0,0.35); 
        box-shadow: 1px 7px 27px 3px rgba(0,0,0,0.35);
        &__security {
            font-size: 12px;
            position: absolute;
            left: 220px;
            top: 56px;
            color: $white;
        }
        &__img {
            width: 280px;
        }
    }
    &__recto {
        position: relative;
        margin: -64px 0 0 -56px;
        height: 150px;
        -webkit-box-shadow: 1px 7px 27px 3px rgba(0,0,0,0.35); 
        box-shadow: 1px 7px 27px 3px rgba(0,0,0,0.35);
        &__cardLogo {
            width: 56px;
            position: absolute;
            left: 20px;
            top: 20px;
        }
        &__number {
            color: $white;
            font-weight: 700;
            letter-spacing: 2px;
            position: absolute;
            left: 20px;
            top: 70px;
        }
        &__infos {
            width: 240px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            left: 20px;
            top: 112px;
            &__name {
                text-transform: uppercase;
                font-size: 10px;
                font-weight: 500;
                color: $white;
            }
            &__expiration {
                text-transform: uppercase;
                font-size: 10px;
                font-weight: 500;
                color: $white;
            }
        }
        &__img {
            width: 280px;
        }
    }
}

@media screen and (min-width: 1080px) {
    .hero {
        background-image: url('../../assets/bg-main-desktop.png');
        height: 100%; 
        width: 350px;
        position: fixed;
        z-index: 1;
        top: 0; 
        left: 0;
        justify-content: center;
        &__verso {
            margin: 0 0 0 332px;
            &__img {
                width: 400px;
            }
            &__security {
                left: 320px;
                top: 80px;
                font-size: 16px;
            }
        }
        &__recto {
            margin: -400px 0 0 200px;
            &__cardLogo {
                width: 74px;
                left: 28px;
                top: 28px;
            }
            &__number {
                font-size: 24px;
                font-weight: 500;
                left: 28px;
                top: 100px;
            }
            &__infos {
                width: 336px;
                left: 28px;
                top: 164px;
                &__name {
                    font-size: 14px;
                }
                &__expiration {
                    font-size: 14px;
                }
            }
            &__img {
                width: 400px;
            }
        }
    }
}