//Font 
$spaceG: 'Space Grotesk', sans-serif;

// Colors
$linearGradient: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$lightGrayViolet: hsl(270, 3%, 87%);
$darkGrayViolet: hsl(279, 6%, 55%);
$veryDarkGrayViolet: hsl(278, 68%, 11%);



